/*顶部start*/

body {
	background-color: #e3edfc;
}

#header {
	width: 100%;
	height: 235px;
	position: relative;
	clear: both;
	background: url("../img/head.jpg") no-repeat;
	background-size: cover;
}

#header .boy {
	width: 224px;
	height: 24px;
	float: right;
	padding-top: 23px;
}

#header .boy ul li {
	float: left;
	color: #ffffff;
	padding-left: 43px;
}

#header .boy ul li a {
	color: #ffffff;
}

#header .boy ul li a:hover {
	color: #213862;
}

.a {
	background: url("../img/boy.jpg") no-repeat 5px 0;
	background-size: 14px 14px;
}

.b {
	background: url("../img/b.jpg") no-repeat 21px 1px;
}

.mainl {
	width: 100%;
	height: 47px;
	position: absolute;
	background: rgba(255, 255, 255, 0.6);
	top: 188px;
	right: 0;
}

.mainl .word {
	width: 666px;
	height: 47px;
	margin: auto;
}

.mainl .word ul span {
	display: none;
	width: 40px;
	height: 47px;
	float: left;
}

.mainl .word ul span img {
	padding-left: 20px;
}
.mainl .word ul {
	text-align: center;
	height: 47px;
}
.mainl .word ul li {
	display: inline-block;
	line-height: 47px;
	font-size: 14px;
	padding-right: 40px;
	padding-left: 40px;
	background: url("../img/line.jpg") no-repeat right;
	margin: auto;
}

.mainl .word ul li a {
	color: #213862;
}

.mainl .word ul li a:link {
	text-decoration: none;
}

.mainl .word ul li a:visited {
	text-decoration: none;
}

.mainl .word ul li a:hover {}

.mainl .word ul li a:active {}

.mainl .word ul li.bg {
	background: none;
}
/*顶部end*/

/*左侧二级导航栏start*/

#f_content {
	width: 100%;
	height: 927px;
	background: #e3edfc;
	position: relative;
	text-align: center;
}

#f_content .left {
	width: 145px;
	height: 156px;
	position: absolute;
	top: 82px;
	left: 95px;
	background: #dfe2e7;
	float: left;
}

#f_content .left div {
	width: 145px;
	height: 39px;
	text-align: center;
	color: #213862;
	font-family: "宋体";
	font-size: 14px;
	line-height: 39px;
}

/*左侧二级导航栏end*/

/*事故报告start*/
#f_content {
	width: 100%;
	height: 927px;
	background: #e3edfc;
	position: relative;
	text-align: center;
}

#f_content .leftl {
	width: 145px;
	height: 117px;
	position: absolute;
	top: 82px;
	left: 95px;
	background: #dfe2e7;
	float: left;
}

#f_content .w {
	width: 145px;
	display: inline-block;
}

#f_content .leftl .w .menu {
	width: 145px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background-color: #d1d5dc;
	color: #213862;
}

#f_content .leftl .w .bu_tr_cd_co {
	margin: 0;
	width: 145px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background-color: #e2e5e9;
	color: #213862;
	display: none;
}

#f_content .leftl .w .rank {
	margin: 0;
	width: 145px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background-color: #e2e5e9;
	color: #213862;
	display: none;
}

#f_content .leftl .w .ran {
	margin: 0;
	width: 145px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background-color: #e2e5e9;
	color: #213862;
	display: none;
}

#f_content .leftl .w .ra {
	margin: 0;
	width: 145px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background-color: #e2e5e9;
	color: #213862;
	display: none;
}

#f_content .rightl {
	width: 919px;
	height: 470px;
	position: absolute;
	left: 0px;
	top: 82px;
	float: left;
	margin-left: 270px;
	text-align: center;
}

#f_content .rightl .search {
	display: block;
	width: 211px;
	height: 28px;
	background: url(../img/spirit/spirit.jpg);
	background-position: 0 -202px;
	margin-bottom: 10px;
	margin-right: 70px;
	border-radius: 15px;
}

#f_content .rightl .search input {
	display: block;
	width: 170px;
	height: 27px;
	margin-left: 36px;
	background-color: #033b66;
	border-radius: 10px;
	outline: none;
	color: white;
}

#f_content .rightl .ta form {
	width: 808px;
	height: 470px;
	margin: auto;
}

#f_content .rightl .ta form table {
	margin: auto;
}

#f_content .rightl form table .indu {
	border: 1px solid #b4b4b5;
	width: 507px;
	height: 37px;
	font-size: 16px;
	line-height: 37px;
	color: #213862;
	background-color: #e2e9f3;
}

#f_content .rightl form table .re_de {
	border: 1px solid #b4b4b5;
	width: 73px;
	height: 37px;
	font-size: 16px;
	line-height: 37px;
	color: #213862;
	background-color: #e2e9f3;
}

#f_content .rightl form table td {
	border: 1px solid #b4b4b5;
	height: 37px;
	font-size: 16px;
	line-height: 37px;
	color: #213862;
	text-align: center;
}

#f_content .rightl .ta .see a {
	display: block;
	width: 42px;
	height: 22px;
	background: url(../img/spirit/spirit.jpg);
	background-position: 0 -142px;
	margin: auto;
}

#f_content .rightl .ta .de a {
	display: block;
	width: 42px;
	height: 22px;
	background: url(../img/spirit/spirit.jpg);
	background-position: 0 -24px;
	margin: auto;
}

#f_content .rightl .ta .analysisresult a {
	display: block;
	width: 42px;
	height: 22px;
	background: url(../img/spirit/spirit.jpg);
	background-position: -114px 0;
	margin: auto;
}

#f_content .rightl .ta .up a {
	display: block;
	width: 42px;
	height: 22px;
	background: url(../img/spirit/spirit.jpg);
	background-position: -61px -24px;
	margin: auto;
}
/*事故报告end*/

/*行业法规start*/
.t {
	width: 100%;
	height: 927px;
	background: #e3edfc;
	position: relative;
	text-align: center;
}

.t .t1 {
	margin-top: 85px;
	width: 1170px;
	height: 700px;
}

.t .t1 .regulation form {
	margin-right: 64px;
	width: 1170px;
	height: 700px;
}

.t .t1 .regulation form table {
	width: 1170px;
}

.t .t1 .regulation form table th {
	border: 1px solid #b4b4b5;
	border-collapse: collapse;
	width: 109.5px;
	height: 37px;
	font-size: 16px;
	line-height: 37px;
	color: #213862;
	background-color: #e2e9f3;
}

.t .t1 .regulation form table td {
	border: 1px solid #b4b4b5;
	border-collapse: collapse;
	width: 78px;
	height: 37px;
	font-size: 16px;
	line-height: 37px;
	color: #213862;
	text-align: center;
}
.t .t1 .regulation .rs {
	text-align: center;
}
.t .t1 .regulation .rs a {
	display: block;
	width: 42px;
	height: 22px;
	background: url(../img/spirit/spirit.jpg);
	background-position: 0 -142px;
	margin: auto;
}

/*行业法规end*/

.f_yl {
	width: 919px;
	height: 100px;
	position: absolute;
	left: 340px;
	top: 605px;
	margin: auto;
}

/*底部start*/
footer {
	width: 100%;
	height: 100px;
	background: url(../img/foot.jpg) no-repeat;
	background-size: cover;
}
/*底部end*/